@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&family=Raleway:wght@100;200;600&family=Roboto:wght@100&display=swap');

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

.name-text {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}

.nav-header {
  padding-top: 35px;
  display: flex;
  justify-content: space-around;
  background-color: #FFFFFF;
  height: 70px;
  margin-right: 21px;
  width: 100%;
  position: fixed;
}

.nav-header a {
  font-family: avenir;
  font-size: 14px;
  color: #283c63;
  padding-right: 40px;
}

.nav-header a:hover, a:active {
  color: #f73859;
}

.half-strip {
  padding: 150px 0px 50px 0px;
  background: linear-gradient(90deg, #FFD0C7 40%, #fff 40%)

}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 50px 0;
}

td {
  padding: 20px 0;
  max-width: 600px;
  min-width: 200px;
}

.card {
  width: 370px;
  height: 525px;

  display: grid;
  grid-template-columns: 370px;
  grid-template-rows: 205px, 100px, 100px;
  grid-template-areas: "image" "name" "line" "label" "social-media";

  background: #FFB8B8;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
}

.card-image {
  grid-area: image;
  padding-top: 50px;
}

.card-name {
  grid-area: name;
  letter-spacing: -0.5px;
  line-height: 1;
  font-size: 21px;

  font-family: 'Poppins', sans-serif;
  /* font-weight: 600; */
}

.card-line {
  grid-area: line;
  border-width: 0;
  width: 45px;
  margin-left: 0;
  height: 1px;
  background-color: #0050FF;
}

.card-label {
  letter-spacing: 5px;
  line-height: 1;
  font-size: 12px;
  grid-area: label;
  padding-bottom: 21px;
}

.card-label h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.card-social-media {
  grid-area: social-media;
  background: #FFFFFF;
}

.socail-logo {
  width: 25px;
  height: 25px;
  padding: 15px 15px 0px 15px;
}

.profile h1 {
  font-family: 'Poppins', sans-serif;
  /* font-weight: 600; */
  font-size: 100px;
}

.profile h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 25px;
}

.profile h4 {
  font-family: 'Poppins', sans-serif;
  font-weight:200;
  font-size: 16px;
  letter-spacing: 1px;
  width: 400px;
}

.tab-profile {
  padding: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 17px;
}

.tabs {
  padding: 50px 200px;
}

.tab-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
}

.sub-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 27px;
}

.sub-heading-main {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 19px;
}

.sub-heading-sub {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #928a97
}

.same-line {
  display: flex;
  justify-content: space-around;
}
