@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100,300,400,500,600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;;
}

.exp_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 1%;
}

.exp_timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.exp_timeline ul {
  list-style: none;
}
.exp_timeline ul li {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: rgba(204, 204, 204, 0.2) 0px 10px 27px 3px
}
.exp_timeline ul li:last-child {
  margin-bottom: 0;
}
.exp_timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.exp_timeline-content .exp_date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.exp_timeline-content .exp_title {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.exp_timeline-content .exp_subtitle {
  font-size: 16px;
  color: #8693F8;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
  .exp_timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: rgb(249, 249, 255);
  }
  .exp_timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .exp_timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .exp_timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .exp_timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(132, 144, 255);
    top: 0px;
  }
  .exp_timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .exp_timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .exp_timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .exp_timeline ul li:hover::before {
    background-color: #78BCF7;
  }
}

